<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ block "title" . }}¿Who Knows?{{ end }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="page">
    <nav>
      <h1><a href="/">¿Who Knows?</a></h1>
      {{ if .User }}
        <a href="/api/logout">Log out [{{ .User.Username }}]</a>
      {{ else }}
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
      {{ end }}
    </nav>

    <div class="body">
  {{ if eq .Page "search" }}
    {{ template "search_body" . }}
  {{ else if eq .Page "login" }}
    {{ template "login_body" . }}
  {{ else if eq .Page "register" }}
    {{ template "register_body" . }}
  {{ else if eq .Page "about" }}
    {{ template "about_body" . }}
  {{ else }}
    <p>Page not found.</p>
  {{ end }}
</div>

    <footer>
      <span>¿Who Knows? &copy; 2025</span>
      <a href="/about">About</a>
    </footer>
  </div>
</body>
</html>

